{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

encryption = "gpg"
[gpg]
recipient = "F78172561298755A"

[data]
osid = {{ $osid | quote }}
name = "MXArcher Lee"
email = "hi@mxarcher.com"
signingkey = "F78172561298755A"

[data.proxy]
socks5="127.0.0.1:7890"
http="127.0.0.1:7890"

