{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
osid = {{ $osid | quote }}
name = "MXArcher Lee"
email = "hi@mxarcher.com"
signingkey = "F78172561298755A"
proxy_host = "192.168.31.22:20170"

encryption = "gpg"
[gpg]
recipient = "F78172561298755A"
