[Desktop Entry]
Name=Xcape script
GenericName=Xcape Script
Comment=Use Xcape to change ctrl's work
Exec={{ .chezmoi.homeDir }}/.local/bin/xcape_change_ctrl_work.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
