[Desktop Entry]
Categories=Utility;
Comment=Refactor your thinking
Exec=/opt/siyuan-bin/siyuan-bin.AppImage --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime
Icon=siyuan-bin
Name=SiYuan
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=SiYuan
Terminal=false
TerminalOptions=
Type=Application
X-AppImage-Version=3.3.4
X-KDE-SubstituteUID=false
X-KDE-Username=
