#========================= env
set fish_greeting
set -x EDITOR nvim

set -x MANAGER "less -R --use-color -Dd+r -Du+b"

# gpg ssh agent
set -x GPG_TTY (tty)
set -x SSH_AUTH_SOCK "$XDG_RUNTIME_DIR/gnupg/S.gpg-agent.ssh"


# proxy

# set -x http_proxy "socks5://{{ .proxy_host }}"
# set -x https_proxy "socks5://{{ .proxy_host }}"


# set -a fish_user_paths ~/.local/bin

#========================= alias

alias cz "chezmoi"
alias lg "lazygit"


#========================= custom plugin

if status --is-interactive 
	zoxide init fish | source
end


